html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.secondaryHeading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 7px;
  margin-left: 35px;
}

@media (max-width: 700px) {
  .secondaryHeading {
    margin-left: 0;
  }
}

.description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #16c098;
  margin-left: 35px;
}

@media (max-width: 700px) {
  .description {
    margin-left: 0;
  }
}

.customersList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.tableHeadings {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #b5b7c0;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

@media (max-width: 700px) {
  .tableHeadings {
    font-size: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.table {
  width: auto;
}

thead th:nth-child(1) {
  width: 50%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
}

@media (max-width: 700px) {
  th,
  td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media (min-width: 450px) {
  th,
  td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 550px) {
  th,
  td {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 650px) {
  th,
  td {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 750px) {
  th,
  td {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 901px) {
  th,
  td {
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.tableData {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #292d32;
  width: auto;
}

@media (max-width: 700px) {
  .tableData {
    font-size: 8px;
  }
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  border-radius: 4px;
  color: #00b087;
}

@media (max-width: 700px) {
  .active {
    width: 40px;
    height: 20px;
  }
}

.inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffc5c5;
  border: 1px solid #df0404;
  border-radius: 4px;
  width: 80px;
  height: 29px;
  color: #df0404;
}

@media (max-width: 700px) {
  .inactive {
    width: 40px;
    height: 20px;
  }
}

.inputStyling {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .inputStyling {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
